
.logindiv{
    text-align: center;
    position: absolute;
    top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    width: 400px;
    height: auto;
    border: 3px solid black;
}   

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

label{
    display: block;
}
