{% extends 'master.html' %}

{% block head %}

<style>
    html{
        background-color: lightslategray;
        height: 100%;

    }
    body{
        border: 1px groove black;
        background-color: white;

        width: 70%;
        height: 100%;
        margin: auto;
    }
    #postInput{
        width: 74ch;
        height: 10ch;
    }
</style>

{% endblock %}

{% block body %}

<h1>Olá, {{session['username']}}</h1>
<a href="{{url_for('logout')}}" >Logout</a>

<form action="{{url_for('post')}}" method="POST">
    <textarea name='postInput' cols="100" rows="10" ></textarea>
    <p></p>
    <button type="submit">POSTAR!</button>
</form>


{% for post in posts %}
<div class="post content">
    <div class="time">
        {{post.timestamp}}
    </div>
    <div class="text">
        <p>{{post.text}}</p>
    </div>
</div>
{% endfor %}

{% endblock %}