{% extends 'master.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="center logindiv">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form action="{{url_for('login')}}" method="POST" class="center" action="">
      <label for="username">Usuario</label>
      <input name="username" type="text">
      
      <label for="password">Senha</label>
      <input name="password" type="password">
      <p></p>
      <button>Log In</button>
      <a href="{{ url_for('register') }}" >Registre-se</a>
  </form>
</div>
{% endblock %}