{% extends 'master.html' %}
{% block head %}

<style>
    html{
        background-color: lightslategray;
        height: 100%;

    }
    body{
        border: 1px groove black;
        background-color: white;

        width: 70%;
        height: 100%;
        margin: auto;
    }
    #postInput{
        width: 74ch;
        height: 10ch;
    }
</style>

{% endblock %}

{% block body %}

<h1>Olá, {{session['username']}}</h1>
<a href="{{url_for('logout')}}" >Logout</a>

<h3>Posts do {{ user.username }}</h3>

{% for post in posts %}
<div>
    <h3>{{post.id}}</h3>
    <p>{{post.text}}</p>
</div>
{% endfor %}
{% endblock %}